section {
    display: flex;
    justify-content: center;
    align-content: center;
    margin:  auto;
    height:  auto;
    width:  auto;  
}

form{
    width: auto;
    text-shadow: 0px 0px 5px black;
    font-size: 40px;
    background-color: #163FE5;
    border-radius: 16px;
    border: 2px solid;
    padding: 16px;
    display: flex;
    flex-direction: column; /* Para alinhar verticalmente */
    justify-content: center;
    align-items: center;
}
input {
    width: min-content;
    background-color: #163FE5;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
    font-size: 2rem; 
}

input:focus {
    color: white;
    background-color:#0425a6;
    transition:0.3s;
}

p {
    padding: 16px 0px;
}

button{
    display: block;
    margin: auto;
    font-size: 40px;
    border-radius: 2rem;
    padding: 8px;
    background-color: #163FE5;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

button:hover{
    cursor: pointer;
}
#areConteudo {
    padding: 32px 0px;
    margin: 0 auto;
}
button:active {
    scale: 0.95;
    background-color:#647ee6;
}
.helper-text {
    display: none;
   font-size: 1.2rem;
   color: rgb(231, 122, 12);
   margin-top: 12px;
   transition: 1s;
}
  
  
  /* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
}
  
input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}
  
input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}
 .visible {
    display: block;
}
.mensagem-erro-senha {
    color: red; /* Cor vermelha para indicar um erro */
    font-size: 20px; /* Tamanho da fonte */
    /* Adicione outros estilos conforme necessário */
    border-color: firebrick;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    padding: 11px 100px 14px 100px;
    border-radius: 2rem 2rem 0 0; /* Apenas a parte superior terá borda arredondada */
    transition: 1s;
 }
 .mensagem-erro-gmail {
    color: red; /* Cor vermelha para indicar um erro */
    font-size: 20px; /* Tamanho da fonte */
    /* Adicione outros estilos conforme necessário */
    border-color: firebrick;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    padding: 11px 100px 14px 100px;
    border-radius: 2rem 2rem 0 0; /* Apenas a parte superior terá borda arredondada */
   margin-left: 12px;
 }
div{
    text-align: center;
    margin-left: center;
    font-size: 2rem;
    
}
.mensagem-erro-password2 {
    color: red; /* Cor vermelha para indicar um erro */
    font-size: 20px; /* Tamanho da fonte */
    /* Adicione outros estilos conforme necessário */
    border-color: firebrick;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    padding: 11px 85px 14px 85px;
    border-radius: 2rem 2rem 0 0 ;/* Apenas a parte superior terá borda arredondada */
    transition: 1s;
 }
 .mensagem-erro-password {
    color: red; /* Cor vermelha para indicar um erro */
    font-size: 18px; /* Tamanho da fonte */
    /* Adicione outros estilos conforme necessário */
    border-color: firebrick;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    padding: 11px 12px 14px 12px;
    border-radius: 2rem 2rem 0 0 ;/* Apenas a parte superior terá borda arredondada */
    transition: 1s;
 }
 .mensagem-erro-nome{
    color: red; /* Cor vermelha para indicar um erro */
    font-size: 17px; /* Tamanho da fonte */
    /* Adicione outros estilos conforme necessário */
    border-color: firebrick;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    padding: 11px 11px 14px 11px;
    border-radius: 2rem 2rem 0 0 ;/* Apenas a parte superior terá borda arredondada */
    transition: 1s;
 }
.mensagem-erro-gamil2{
    color: red; /* Cor vermelha para indicar um erro */
    font-size: 20px; /* Tamanho da fonte */
    /* Adicione outros estilos conforme necessário */
    border-color: firebrick;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    padding: 11px 85px 14px 85px;
    border-radius: 2rem 2rem 0 0 ;/* Apenas a parte superior terá borda arredondada */
    transition: 1s;

}
 