@media (max-width: 1280px){
    #areaConteudo{
        max-width: 800px;
    }

    img{
        max-height: 150px
    }
    .membro{
        max-width: 150px;
    }
}

@media (max-width: 800px){
    #areaConteudo{
        max-width: 450px;
    }

    img{
        max-height: 150px
    }
    .membro{
        max-width: 150px;
    }
}

@media (max-width: 800px){
    #areaConteudo{
        max-width: 500px;
    }
    form input{
        margin: 10px auto;
    }

    footer nav ul{
        padding: 0px;
    }
}

    @media (max-width: 500px){
        #areaConteudo{
            max-width: 320px;
        }
        form input{
            margin: 10px auto;
        }
    
        footer nav ul{
            padding: 0px;
        }

    .nav-bar-bot a{
        font-size: 12px;
        padding-left: 5px;
        margin:5px;
    }
    h6 {
        padding: 8px;
        margin: 5px;
    }
}

@media (max-width: 320px){
    #areaConteudo{
        width: 190px;
        margin: auto;
    }
}


h1{
    display: flex;
    justify-content: center;
    max-width: max-content;
    margin: 25px auto;
    cursor: default;
    text-align: center;
    background-color: #163FE5;
    padding: 10px;
    text-shadow: 0px 0px 1px black;
    border-radius: 16px;
    cursor: default;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-wrap: wrap;
    background-color: #163FE5;
    padding: 25px;
    margin: 25px auto;
    border-radius: 16px;
    box-shadow: inset 0px 0px 48px 1px rgb(26, 24, 24);
}

@media (max-width: 320px){
    form {
        width: 190px;
        padding: 8px;
        margin: 8px;
    }
}

button{
    display: block;
    margin: 8px auto;
    font-size: 20px;
    border-radius: 2rem;
    padding: 16px;
    background-color: #163FE5;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

button:hover{
    cursor: pointer;
}

button:active {
    scale: 0.95;
    background-color:#647ee6;
}

.regras{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #163FE5;
    padding: 25px;
    border-radius: 16px;
    margin: 25px auto;
    width: 50%;
    box-shadow: inset 0px 0px 48px 1px rgb(26, 24, 24);
}

@media (max-width: 320px){
    .regras {
        width: 190px;
        padding: 8px;
        margin: 8px;
    }
}

.regras p{
    margin: 5px;
    font-size: 17px;
}

.membros{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    flex-wrap: wrap;
}

.membro{
    margin: 20px 50px;
    background-color: #163FE5;
    border-radius: 16px;
    padding: 20px;
    width: 250px;
    padding: 25px 35px;
    box-shadow: inset 0px 0px 48px 1px rgb(26, 24, 24);
}

.membro h4{
    font-size: 20px;
}



h2{
    display: flex;
    justify-content: center;
    max-width: max-content;
    margin: 0px auto;
    cursor: default;
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 1px black;
    border-radius: 16px;
    cursor: default;
}

#membro_h2{
    background-color: #163FE5;
    margin: 25px auto;
    box-shadow: inset 0px 0px 48px 1px rgb(26, 24, 24);
}

img{
    height: 250px;
    border-radius: 10px;
}

h1{
    font-size: 40px;
}

form strong{
    font-size: 20px;
}

input {
    width: 90%;
    font-size: 20px;
    border-radius: 16px;
    padding: 8px;
    gap: 1rem;
    margin: 10px;
    background-color: #163FE5;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: text;  
}

@media (max-width: 500px){
    button {
        font-size: 16px;
        margin:auto;
        padding: 8px;
    }
    input {
        font-size: 12px;
    }
    strong {
font-size: 16px;
    }
}

input:focus {
    color: white;
    background-color:#0425a6;
    transition:0.3s;
}
.helper-text {
    display: none;
    font-size: 0.8rem;
    color: darkred;
  }
div{
    text-align: center;
}
/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
  }
  
  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
    margin-top: 0;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
.visible {
    display: block;
  }
.mensagemTexto{
    font-size: 12px; 
    border-color: firebrick;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    padding: 12px 75px 20px 75px;
    border-radius: 2rem 2rem 0 0; 
    margin-top: 20px;
 }
.mensagem{
    font-size: 12px; 
    border-color: firebrick;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    padding: 12px 100px 20px 100px;
    border-radius: 2rem 2rem 0 0; 
    margin-top: 20px;
 }
 @media screen and (max-width: 800px) {
    .mensagemTexto {
        font-size: 0.7rem; 
        padding: 8px 10px 13px 10px;

    }
    .mensagem{
        font-size: 0.8rem; 
        padding: 8px 20px 13px 20px;

    }
  }
@media screen and (max-width: 500px) {
    .mensagemTexto {
        font-size: 0.5rem; 
        padding: 8px 0px 10px 0px;

    }
    .mensagem {
        font-size: 0.6rem; 
        padding: 8px 10px 13px 10px;

    }
  }