section {
    height: 85.9vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

h2 {
    width: max-content;
    margin: auto;
}
label {
    width: max-content;
    margin:10px;
}
input {
    width: 1175px;
    height: 20px;
    font-size: 38px;
    border-radius: 1rem;
    padding: 16px;
    gap: 1rem;
    margin: 10px;
    background-color: #163FE5;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: text;  
}

input:focus {
    color: white;
    background-color:#0425a6;
    transition:0.3s;
}

button{
    display: block;
    margin: 16px auto;
    font-size: 38px;
    border-radius: 2rem;
    padding: 16px;
    background-color: #163FE5;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}  

button:hover{
    cursor: pointer;
}

button:active {
    scale: 0.95;
    background-color:#647ee6;
}

form{
    margin: auto;
    width: max-content;
    text-shadow: 0px 0px 5px black;
    font-size: 38px;
    background-color: #163FE5;
    color: rgb(231, 122, 12);
    border-radius: 16px;
    border: 2px solid;
    padding: 16px;

}

p{
    font-size: 35px;
    padding: 8px;
    width: max-content;
    text-shadow: 0rem 0rem 01rem black;
    border-radius: 32px;
    margin: 10px auto;
}

footer {
    position: fixed;
    bottom: 0;
}