@media (max-width: 1340px) {
    #areaConteudo {
        width:1278px;
    }
}

@media (max-width:1280px) {
    #areaConteudo {
        width:1000px;
    }
}

@media (max-width: 1010px) {
    #areaConteudo {
        width: 800px;
    }
}

@media (max-width: 810px) {
    #areaConteudo {
        width: 600px;
    }
    

}

@media (max-width: 610px) {
    #areaConteudo {
        width: 400px;
    }
    input {
        font-size: 20px;
    }
    
}

@media (max-width: 410px) {
    #areaConteudo {
        width: 210px;
    }
    h2 {
        font-size: 30px;
        margin: 4px;
        text-align: center;
    }
    label {
        font-size:16px;
        text-align: center;
    }
}

form {
    margin: auto;
    height: max-content;
    text-shadow: 0px 0px 5px black;
    font-size: 30px;
    background-color: #717171;
    color: #39ff14;

    border-radius: 16px;
    padding: 16px;
}

@media (max-width: 410px) {
    form {
        padding: 4px;
    }
}

h2 {
    width: 90%;
    margin: auto;
    text-align: center;
}

@media (max-width: 410px) {
    h2 {
        font-size: 30px;

    }
}

label {
    width: max-content;

}

input {
    width: 90%;
    font-size: 38px;
    border-radius: 16px;
    padding: 16px;
    gap: 1rem;
    margin: 10px;
    background-color: #717171;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: text;  
    
}

@media (max-width: 610px) {
    input {
        font-size: 16px;
    }
}

@media (max-width: 410px) {
    input {
        font-size: 12px;
        padding: 8px;
        margin: 0px;
        justify-self: center;
    }
    .mensagem-erro {
        color: red; 
        font-size: 12px; 
        border-color: firebrick;
        box-shadow: inset 0rem 0rem 3rem 0.1rem black;
        padding: 14px 120px 30px 120px;
        border-radius: 2rem 2rem 0 0;
    }
    
}
#areaConteudo {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
}
input:focus {
    background-color:#717171;
    transition:0.3s;
}

button{
    display: block;
    margin: 16px auto;
    font-size: 38px;
    border-radius: 2rem;
    padding: 16px;
    background-color: #717171;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
    color: white;
}

button:active {
    transform: scale(0.95);
}

@media (max-width: 410px) {
    button {
        padding: 6px;
        margin:4px auto;
    }
}

button:hover{
    cursor: pointer;
}

button:active {
    scale: 0.95;
    background-color:#647ee6;
}

@media (max-width: 410px) {
    button {
        font-size: 16px;
    }
}

p{
    text-align: center;
    font-size: 30px;
    padding: 8px;
    width: 90%;
    text-shadow: 0rem 0rem 01rem black;
    border-radius: 32px;
    margin: 8px auto;
}

@media (max-width: 410px) {
    p {
        font-size: 16px;
        margin:4px;
        padding: 0px;
    }
}


.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
    
}

.orientacao {
    margin-top: 1.5rem;
    font-size: .7rem;
}


  /* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
}

input.error {
    background-color: #CCBBBB;
}

input.correct {
    background-color: #BBCCBB;
    color: white;
}

.visible {
    display: block;
}
.mensagem-erro{
    color: #39ff14; 
    font-size: 30px; 
    border-color: firebrick;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    padding: 14px 120px 30px 120px;
    border-radius: 2rem 2rem 0 0;
}

@media (max-width: 810px) {
    p {
        font-size: 16px;
        margin:4px;
        padding: 0px;
    }
    .mensagem-erro{
        font-size: 16px; 
        border-color: firebrick;
        box-shadow: inset 0rem 0rem 3rem 0.1rem black;
        padding: 6px 120px 30px 120px;
        border-radius: 2rem 2rem 0 0;
    }
}