main {
    background-color: rgb(0, 0, 0);
    padding: 80px; /* ou 12rem? Avalie a necessidade de ajustar este valor */
    text-align: center;
    display: flex;
    font-size: 30px;
}

section {
    background-color: rgb(7, 62, 181);
    border-radius: 1rem;
    padding: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 10px;
    margin-right: 30px;
    margin: 0 auto;
}

input {
    width: min-content;
    background-color: #163FE5;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
    margin-bottom: 0.5rem;
}

button {
    font-size: medium;
    width: min-content;
    background-color: #163FE5;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

div {
    background-color: rgb(7, 62, 181);
    padding: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-bottom: 10px;
    margin-right: 30px;
    margin: 0 auto;
    border-radius: 1rem;
}

form {
    color: rgb(231, 122, 12);
    display: table-column;
    place-items: flex;
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
    border: 2px solid;
    margin-bottom: 10px;
}

@media screen and (max-width: 700px) and (max-height: 1000px) {
    main{
        padding: 30px;
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
    h1 {
        font-size: 2rem;
    }
    form {
        font-size: 1.4rem;
        gap: 12px;
        
    }
    input {
        width: min-content;
        background-color: #163FE5;
        padding: 0.5rem;
        font-size: small;
        border-radius: 1rem;
        box-shadow: inset 0rem 0rem 3rem 0.1rem black;
        cursor: default;
    }
    p{
        font-size: 1.2rem;
    }
    label{
        padding-bottom: 12px;

    }
}
.acao:hover {
    transition: 0.75s;
    transform: scale(30px);
    cursor: pointer;
}
 
.acao:not(:hover) {
    transition: 0.75s;
}
button:hover {
    transition: 0.75s;
    transform: scale(1.1);
    transform-origin: center;
    cursor: pointer;
 }
 
 button:not(:hover) {
    transition: 0.75s;
 }