/*Esse arquivo é para a estilização padrão dos tipos de páginas como: NEWS(index), TOP, JOGOS, LOGIN, REVIEW e CONTATO*/
* {
    color:orangered;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}

/*para andar pela página de forma suave quando selecionado o retornar para o topo*/
html{
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #163FE5;
    padding: 0 48px;
    top: inherit;
    box-shadow: 0rem 0rem 2rem #163FE5;
}

@media (max-width: 300px) {
    header {
        padding: 0 16px;
    }
}

header a {
    display: flex;
    align-items: center;
}

@media (max-width: 300px) {
    header nav ul li{
        display: none;
    }
}

header img {
    height: 3rem;
    filter: drop-shadow(0rem 0rem 1rem black);
}

@media (max-width: 300px) {
    header img {
        height: 24px;
    }
}

header img:hover {
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

header img:not(:hover) {
    transition: 0.5s;
}

header h1{
    font-family: 'Carter One', cursive;
    padding: 0 32px;
    font-size: 3rem;
    text-shadow: 0rem 0rem 0.5rem black;
}

@media (max-width: 300px) {
    header h1 {
        font-size: 20px;
        padding: 8px;
    }
}

header h1:hover {
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}


header h1:not(:hover) {
    transition: 0.5s;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-bar-top a {
    font-family: 'Carter One', cursive;
    font-size: 2rem;
    text-shadow: 0rem 0rem 0.5rem black;
}

.nav-bar-top:hover {
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

.nav-bar-top:not(:hover) {
    transition: 0.5s;
}

body {
    background-color: black;
}

main {
    padding: 32px 0;
    width: 1280px;
    margin: auto;
}

@media (max-width: 300px) {
    main {
        padding: 16px 0;
        width: 260px;
    }
}

@media (max-width: 300px) {
    main {
        padding: 16px 0;
        width: 260px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    background-color: #163FE5;
    align-items: center;
    font-size: 24px;
    box-shadow: 0rem 0rem 1rem #163FE5;
    text-shadow: 0rem 0rem 0.1rem black;
    cursor: default;

}

@media (max-width: 300px) {
    footer {
        padding: 16px;
        font-size: 16px;
    }
}

footer nav ul{
    display: flex;
    list-style: none;
    gap:48px;
}

@media (max-width: 300px) {
    h6 {
        font-size: 10px;
    }
}

@media (max-width: 300px) {
    #return {
        display:none;
    }
}

@media (max-width: 300px) {
    #contato {
    font-size: 12px;
    }
}

.nav-bar-bot a {
    font-family: 'Carter One', cursive;
    text-shadow: 0rem 0rem 0.5rem black;
}

.nav-bar-bot:hover {
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

.nav-bar-bot:not(:hover) {
    transition: 0.5s;
}