h2 {
    font-size: 2.5rem;
    margin: 16px auto 0px auto;
    /*Para evitar que o usuário possa selecionar o texto*/
}

h3 {
    font-size: 2rem;
    margin: 32px auto;
    /*Para evitar que o usuário possa selecionar o texto*/
}

h2, h3 {
    width: min-content;
    background-color: #a7a7a7;
    padding: 16px;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

/*ao invés de margin na imagem usei o gap*/
main div {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
/*de game image até .game-image:hover .legenda é a configuração necessária a fim de ter a descrição do jogo sobre a imagem sem aparece*/
.game-image {
    border-radius: 20px;
    height: 396px;
    width: 296px;
    cursor: default;
}

.image{
    height: 396px;
    width: 296px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 16px black);
}

.legenda {
    display:none;
    display: flex;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(1px);
    position: absolute;
    justify-self: center;
    align-self: flex-end;
    height: 3rem;
    width: 296px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s;
    opacity: 0;
}

@media (max-width: 320px){
    .legenda{
        width: 190px;
        height: 2.5rem;
    }
}

.legenda a {
    width: 290px;
    font-size: 16px;
    text-align: center;
    align-self: center;
    
}

@media (max-width: 320px){
    .legenda a{
        width: 190px;
        font-size: 10px;
        font-weight: bold;
        font-size: 12px;
    }
}
/*parte necesária para transformar */
.game-image:hover .legenda {
    opacity: 1;
}
/*:hover e not(:hover) dão a animação para quando o mouse entra sobre a imagem e sai da imagem*/
.game-image:hover {
    box-shadow: 0px 0px 16px #a7a7a7;
    transition: 0.35s;
    /*transform: scale(1.1);*/
}

.game-image:not(:hover) {
    transition: 0.35s;
}

/*-------------------------ESTILIZAÇÃO DO CARROSSEL---------------------------*/
/*------Estilização das setas laterais------*/

/*z-index: 1; a fim de trazer as setas a frente das imagens (sem isso a da direita ficaria atras das imagens)*/

.item {
    height: 396px;
    width: 296px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    border-radius: 20px;
}

.item:hover {
    scale: 1.1;
}

/* Escondendo a scrollbar para Chrome, Safari and Opera 
.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

Escondendo a scrollbar para IE, Edge and Firefox 
.gallery-wrapper {
    -ms-overflow-style: none;  IE and Edge 
    scrollbar-width: none; Firefox 
}*/

/*Parte referente a animação do carrossel*/
/*div referente ao "quadrado de área do slider parte externa não animada"*/
.slider {
    height: 475px;
    width: 80%;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}
/*parte interna do slider a qual é a parte animada tem também o tempo total para mostrar todos os itens*/
.slide-track {
    flex-wrap: nowrap;
    display: flex;
    animation: scroll 5s linear infinite;
    animation-direction:alternate;
}


/*parte necessária para buscar a parada do movimento para melhor leitura e entrada na página respectiva, para retomar animação no pc tirar o mouse no celular clicar fora das imagens do slider*/
.slide-track:hover {
    animation-play-state: paused;
}
/*Parte referente ao quanto o slider irá se deslocar para esquerda e para a direita*/
@keyframes scroll {
    0% {
        transform: translateX(40px);/*movimento para o lado direito*/
    }
    100% {
        transform: translate3d(-276px, 0px,0px); /*movimento para o lado esquerdo*/
    }
}
/*alinhamento das imagens no slider*/
.slide {
    height: 396px;
    width: 296px;
    display: flex;
    align-items: center;
    perspective: 100px;
}
/*beiradas do slider a qual dão uma ideia da imagem se esconder atrás de uma cortina*/
.slider::before,
.slider::after {
    
    background: linear-gradient(to right, rgba(28, 28, 29, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 40px;
    z-index: 1;
}
/*faz com que essa aba lateral estique e se posicione corretamente*/
.slider::before {
    left: 0;
    top: 0;
}
/*além da diferença a cima temos a inversão da "cortina"*/
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);/*girando 180º*/
}

/*-----------------Responsividade do carrossel, da área de conteudo e das img--------------*/

@media (max-width: 1700px) {
    #areaConteudo {
        width:1500px;
    }
    .slide-track {
    animation-duration: 8s;
    }
    @keyframes scroll {
        0% {
            transform: translateX(40px);/*movimento para o lado direito*/
        }
        100% {
            transform: translate3d(-476px, 0px,0px); /*movimento para o lado esquerdo*/
        }
    }
}

@media (max-width: 2000px) {
    #areaConteudo {
        width:1700px;
    }
}

@media (max-width: 1700px) {
    #areaConteudo {
        width:1500px;
    }

@media (max-width: 1500px) {
    #areaConteudo {
        width:1250px;
    }
    .slide-track {
        animation-duration: 10s;
    }
    @keyframes scroll {
        0% {
            transform: translateX(40px);/*movimento para o lado direito*/
        }
        100% {
            transform: translate3d(-710px, 0px,0px); /*movimento para o lado esquerdo*/
        }
    }
}

@media (max-width: 1340px) {
    #areaConteudo {
        width:952px;
    }
    .slide-track {
        animation-duration: 14s;
    }
    @keyframes scroll {
        0% {
            transform: translateX(40px);/*movimento para o lado direito*/
        }
        100% {
            transform: translate3d(-1025px, 0px,0px); /*movimento para o lado esquerdo*/
        }
    }

    .slider::before,
    .slider::after {
        width: 20px;
    }
}

@media (max-width:1020px) {
    #areaConteudo {
        width:624px;
    }
    .slide-track {
        animation-duration: 18s;
    }
    @keyframes scroll {
        0% {
            transform: translateX(40px);/*movimento para o lado direito*/
        }
        100% {
            transform: translate3d(-1350px, 0px,0px); /*movimento para o lado esquerdo*/
        }
    }
}

@media (max-width: 660px) {
    #areaConteudo {
        width: 396px;
    }
    .game-image {
        max-height: 350px;
        max-width: 250px;
    }
    .image {
        max-height: 350px;
        max-width: 250px;
    }
    .legenda {
        width: 250px;
    }
    .slider {
        height: 425px;
    }
    .slider::before,
    .slider::after {
        width: 20px;
    }

    .slide-track {
        animation-duration: 18s;
    }
    @keyframes scroll {
        0% {
            transform: translateX(40px);/*movimento para o lado direito*/
        }
        100% {
            transform: translate3d(-1300px, 0px,0px); /*movimento para o lado esquerdo*/
        }
    }
}

@media (max-width: 450px) {
    #areaConteudo {
        padding: 0 auto;
        width: 320px;
    }

    h2 {
        font-size: 2rem;
        margin: 0px auto 0px auto;
    }
    h3 {
        font-size: 1.25rem;
        margin: 16px auto 0px auto;
    }
    .slide-track {
        animation-duration: 22s;
    }
    @keyframes scroll {
        0% {
            transform: translateX(40px);/*movimento para o lado direito*/
        }
        100% {
            transform: translate3d(-1375px, 0px,0px); /*movimento para o lado esquerdo*/
        }
    }
}
/*para telas muito pequenas temos uma redução da área do conteúdo e consequentemente a imagem precisa diminuir*/
@media (max-width: 320px) {
    #areaConteudo {
        padding: 0 auto;
        width: 230px;
    }
    .game-image {
        max-height: 270px;
        max-width: 190px;
    }
    .image {
        max-height: 270px;
        max-width: 190px;
    }

    .legenda {
        width: 190px;
    }

    .slider {
        height: 350px;
    }
    .slider::before,
    .slider::after {
        width: 10px;
    }

    .slide-track {
        animation-duration: 20s;
    }
    @keyframes scroll {
        0% {
            transform: translateX(40px);/*movimento para o lado direito*/
        }
        100% {
            transform: translate3d(-1100px, 0px,0px); /*movimento para o lado esquerdo*/
        }
    }
}
