main h3 {
    margin: 32px 0px;
}

h2, h3 {
    width: min-content;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}
/*ao invés de margin na imagem usei o gap*/
main div {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.game-image {
    border-radius: 16px;
    height: 396px;
    width: 296px;
    box-shadow: 0px 0px 16px #163FE5;
}

@media (max-width: 320px) {
    .game-image {
        height: 300px;
        width: 200px;
    }
}

.game-image:hover {
    transition: 0.75s;
    transform: scale(1.1);
    cursor: pointer;
}

.game-image:not(:hover) {
    transition: 0.75s;
}