* {
    color:orangered;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #163FE5;
    padding: 0 48px;
    top: inherit;
}

@media (max-width: 660px) {
    header {
        padding: 0 24px;
    }
}

header a {
    display: flex;
    align-items: center;
}

@media (max-width: 850px) {
    header nav ul li{
        display: none;
    }
}

#littleScreens {
    display:none;
}

@media (max-width: 850px) {
    #littleScreens {
        display: block;
    }

    header nav img {
        height: 40px;
    }
}

header img {
    height: 48px;
    filter: drop-shadow(0px 0px 16px black);
}

@media (max-width: 700px) {
    #navBar {
        height: 73.6px;
    }
    
    header a h1 {
        font-size: 40px;
    }
}

@media (max-width: 660px) {
    header img {
        margin: 8px;
    }
    header h1 {
        display:none;
    }
}

header img:hover {
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

header img:not(:hover) {
    transition: 0.5s;
}

header h1{
    font-family: 'Carter One', cursive;
    padding: 0 32px;
    font-size: 48px;
    text-shadow: 0px 0px 8px black;
}

header h1:hover {
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

@media (max-width: 660px) {
    header h1 {
        display:none;
    } 
}

header h1:not(:hover) {
    transition: 0.5s;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-bar-top a {
    font-family: 'Carter One', cursive;
    font-size: 32px;
    text-shadow: 0px 0px 8px black;
}

.nav-bar-top:hover {
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

.nav-bar-top:not(:hover) {
    transition: 0.5s;
}
/*-----------------efeito para as imagens da tela-----------------*/
body {
    margin: 0 auto;
}

main {
    background-image: url(/src/img/backgroundCinzaEscuroFundo20.png);
    margin: 0 auto;
    height: 0 auto;
    width: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px; 
}

main ul  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: black;
    filter:drop-shadow(20px 20px 10px black);
    padding-top: 30px;
    padding-bottom: 50px; 
    margin-left: 90px;
    margin-right: 90px;  
    gap: 50px;
}

.game-img:hover {
    transform: scale(1.11);
    transition: 0.3s;
    filter: drop-shadow(5px 5px 10px #163FE5);
}

.legenda {
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(1px);
    position: absolute;
    bottom: 3.5px;
    left: 0px;
    height: 50px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0;
}

li {
    list-style: none;
}

.game-img:hover .legenda {
    opacity: 1;
}

.legenda a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    max-width: max-content;
    margin: 0 auto;
    cursor: default;
    text-align: center;
    background-color: #163FE5;
    padding: 10px;
    text-shadow: 0px 0px 1px black;
    border-radius: 16px;
    box-shadow: inset 0px 0px 48px 1px black;
    cursor: default;
}

img {
    border-radius: 20px;
}
/*Resolução 4k*/
@media (max-width: 4096px) {
    h2{
        font-size: 100px;
    }

    main img {
        height: 670px; 
        width: 590px;
    }

    main ul {
        margin-left: 100px;
        margin-right: 100px;
        gap: 100px;
        
    }

    .legenda {
        height: 140px;
    }

    .legenda a {
        font-size: 50px;
    }
    
}
/*Resolução 4k*/
@media (max-width: 3560px) {
    h2{
        font-size: 100px;
    }
    
    main img {
        height: 600px; 
        width: 520px;
    }

    main ul {
        margin-left: 100px;
        margin-right: 100px;
        gap: 80px;
    }

    .legenda {
        height: 120px;
    }

    .legenda a {
        font-size: 44px;
    }
}

@media (max-width: 3150px) {
    h2{
        font-size: 80px;
    }
    
    main img {
        height: 530px; 
        width: 450px;
    }

    main ul {
        margin-left: 100px;
        margin-right: 100px;
        gap: 60px;
    }

    .legenda {
        height: 100px;
    }

    .legenda a {
        font-size: 34px;
    }
}

@media (max-width: 2700px) {
    h2{
        font-size: 70px;
    }
    
    main img {
        height: 460px; 
        width: 380px;
    }

    main ul {
        margin-left: 100px;
        margin-right: 100px;
        gap: 60px;
    }

    .legenda {
        height: 80px;
    }

    .legenda a {
        font-size: 29px;
    }
}
/*Resolução 2k*/
@media (max-width: 2350px) {
    h2{
        font-size: 70px;
    }
    
    main img {
        height: 410px; 
        width: 330px;
    }

    main ul {
        gap: 50px;
    }

    .legenda {
        height: 80px;
    }

    .legenda a {
        font-size: 27px;
    }
}
/*Resolução 2k*/
@media (max-width: 2050px) {
    h2{
        font-size: 60px;
    }
    
    main img {
        height: 370px; 
        width: 290px;
    }

    main ul {
        gap: 40px;
    }

    .legenda {
        height: 70px;
    }

    .legenda a {
        font-size: 24px;
    }
}
/*Resolução FULLHD - 1080p*/
@media (max-width: 1920px) {
    h2{
        font-size: 50px;
    }
    
    main img {
        height: 370px; 
        width: 290px;
    }

    main ul {
        gap: 40px;
    }
}

@media (max-width: 1810px) {
    h2{
        font-size: 50px;
    }
    
    main img {
        height: 330px; 
        width: 250px;
    }

    main ul {
        gap: 40px;
    }

    .legenda {
        height: 60px;
    }

    .legenda a {
        font-size: 20px;
    }

}

@media (max-width: 1610px) {
    h2{
        font-size: 50px;
    }
    
    main img {
        height: 300px; 
        width: 220px;
    }

    main ul {
        gap: 35px;
    }

    .legenda {
        height: 50px;
    }
    
    .legenda a {
        font-size: 18px;
    }
}
/*Resolução HD  - 720p*/
@media (max-width: 1500px) {
    h2{
        font-size: 40px;
    }

    main img {
        height: 280px; 
        width: 200px;
    }
    
    main ul {
        gap: 35px;
    }

    .legenda {
        height: 45px;
    }

    .legenda a {
        font-size: 17px;
    }
}

@media (max-width: 1350px) {
    h2{
        font-size: 40px;
    }

    main img {
        height: 260px; 
        width: 180px;
    } 
    
    main ul {
        gap: 30px;
    }

    .legenda a {
        font-size: 15px;
    }
}

@media (max-width: 1300px) {
    main img {
        height: 250px; 
        width: 170px;
    }

    .legenda {
        height: 40px;
    }

    .legenda a {
        font-size: 14px;
    }
}

@media (max-width: 1260px) {
    main img {
        height: 240px; 
        width: 160px;
    }
    header a h1 {
        font-size: 36.8px;
    }
    header {
        padding: 10px;
    }

    .legenda {
        height: 35px;
    }

    .legenda a {
        font-size: 13px;
    }

    h6 {
        font-size: 15px;
    }

    footer ul li {
        font-size: 20px;
    }
}

@media (max-width: 1170px) {
    h2{
        font-size: 35px;
    }

    main img {
        height: 220px; 
        width: 140px;
    } 
    
    main ul {
        gap: 30px;
    }

    .legenda {
        height: 35px;
    }

    .legenda a {
        font-size: 11px;
    }
}

@media (max-width: 1060px) {
    header a h1 {
        font-size: 32px;
    }

    #NEWS a, #TOP3 a, #LOGIN a {
        font-size: 24px;
    }
    
    header {
        padding: 10px;
    }
    h2{
        font-size: 35px;
    }

    main img {
        height: 200px; 
        width: 120px;
    } 
    
    main ul {
        gap: 30px;
        
    }

    .legenda {
        height: 30px;
    }

    .legenda a {
        font-size: 10px;
    }
}

@media (max-width: 920px) {
    h2{
        font-size: 35px;
    }

    main img {
        height: 180px; 
        width: 100px;
    } 
    
    main ul {
        gap: 25px;
    }

    .legenda {
        height: 25px;
    }

    .legenda a {
        font-size: 8px;
    }
}

@media (max-width: 850px) {
    h2{
        font-size: 35px;
    }

    main img {
        height: 200px; 
        width: 120px;
    } 
    
    main ul {
        gap: 30px;
    }

    .legenda a {
        font-size: 10px;
    }
}

@media (max-width: 770px) {
    h2{
        font-size: 30px;
    }

    main img {
        height: 190px; 
        width: 110px;
    } 
    
    main ul {
        gap: 25px;
    }

    .legenda a {
        font-size: 9px;
    }
}

@media (max-width: 660px) {
    h2{
        font-size: 25px;
    }

    main img {
        height: 190px; 
        width: 110px;
    } 
    
    main ul {
        gap: 30px;
    }

    .legenda a {
        font-size: 9px;
    }
}
/*Resolução 480p*/
@media (max-width: 590px) {
    h2{
        font-size: 25px;
    }

    main img {
        height: 170px; 
        width: 90px;
    } 
    
    main ul {
        gap: 25px;
    }

    .legenda {
        height: 20px;
    }
    .legenda a {
        font-size: 7px;
    }
}

@media (max-width: 520px) {
    h2{
        font-size: 25px;
    }

    main img {
        height: 190px; 
        width: 110px;
    } 
    
    main ul {
        gap: 30px;
    }

    .legenda {
        height: 20px;
    }
    .legenda a {
        font-size: 8px;
    }
}

@media (max-width: 450px) {
    h2{
        font-size: 30px;
    }

    main img {
        height: 250px; 
        width: 170px;
    } 
    
    main ul {
        gap: 30px;
    }
    
    .legenda {
        height: 20px;
    }
    .legenda a {
        font-size: 8px;
    }
}

@media (max-width: 330px) {
    body {
        width: 350px;
    }

    h2{
        font-size: 30px;
    }

    main img {
        height: 250px; 
        width: 170px;
    } 
    
    main ul {
        gap: 30px;
    }
    
    .legenda {
        height: 20px;
    }
    .legenda a {
        font-size: 8px;
    }
}


.nav-bar-bot a {
    font-family: 'Carter One', cursive;
    text-shadow: 0rem 0rem 0.5rem black;
}

.nav-bar-bot:hover {
    transition: 0.5s;
    transform: scale(1.15);
    cursor: pointer;
}

.nav-bar-bot:not(:hover) {
    transition: 0.5s;
}

@media (max-width: 900px) {
    #return {
    display: none;
    }
    h6 {
        font-size: 0.8rem;
    }
}

@media (max-width: 660px) {
    h6 {
        font-size: 0.6rem;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .nav-bar-bot {
        margin-left: 16px;
    }
}

@media (max-width: 320px) {
    #contato {
    font-size: 1rem;
    }
}

footer {
    background-color: #163FE5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 2rem;
}

footer nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0 48px;
}

h6 {
    padding: 0 48px;
}