section {
   height: 86vh;
   display: flex;
   justify-content: center;
   align-content: center;
}

div{
   padding:15px;
   padding-left: 16px;
   padding-right: 1px;
   display: flex;
   margin: auto auto;
   border-radius: 1px;
}

form{
   text-shadow: 0px 0px 5px black;
   font-size: 40px;
   background-color: #163FE5;
   color: rgb(231, 122, 12);
   margin:  auto;
   border-radius: 16px;
   border: 2px solid;
   padding: 16px;
}
input {
   width: max-content; 
   height: 20px;
   font-size: 40px;
   border-radius: 1rem;
   padding: 16px;
   gap: 1rem;
   margin-bottom: 10px;
   background-color: #163FE5;
   box-shadow: inset 0rem 0rem 3rem 0.1rem black;
   cursor: default;  
}
button{
   display: block;
   margin: auto;
   font-size: 40px;
   border-radius: 2rem;
   padding: 8px;
   background-color: #163FE5;
   text-shadow: 0rem 0rem 0.1rem black;
   border-radius: 2rem;
   box-shadow: inset 0rem 0rem 3rem 0.1rem black;
   cursor: default;
}
label{
   display: grid;
   place-items: left;
   border-radius: 1rem;
   margin-bottom: 1px;
}

p{
   background-color: #163FE5;
   padding: 8px 8px 8px 8px;
   width: max-content;
   text-shadow: 0rem 0rem 0.1rem black;
   border-radius: 32px;
   box-shadow: inset 0rem 0rem 3rem 0.1rem black;
   margin: 8px auto;
}

footer {
   position: fixed;
   bottom: 0;
}