/*media responsivity*/
@media (max-width: 1340px) {
    #areaConteudo {
        width:1050px;
    }
}

@media (max-width:1100px) {
    #areaConteudo {
        width: 850px;
    }
    /*CSS PARA IMAGENS DE JOGOS TOP1*/
    .game-image {
        max-height: 300px;
        max-width: 221.05px;
    }
    .game-image-primeiro {
        max-height: 300px;
        max-width: 221.05px;
    }
    .container div{
        width: 260px;
    }
}

@media (max-width: 870px) {
    #areaConteudo {
        width: 610px;
    }
    .game-image {
        max-height: 250px;
        max-width: 184.21px;
    }
    .game-image-primeiro {
        max-height: 250px;
        max-width: 184.21px;
    }
    .container div{
        width: 203px;
    }
}

@media (max-width: 610px) {
    #areaConteudo {
        width: 140px;
    }
    
}

@media (max-width: 360px) {
    #areaConteudo {
        padding: 16px 0;
        width: 140px;
    }
}

/*para telas muito pequenas temos uma redução da área do conteúdo e consequentemente a imagem precisa diminuir*/


/*CSS PARA IMAGENS DE JOGOS TOP1*/
.game-image{
    border-radius: 1rem;
    margin: 35px;
    height: 380px;
    width: 280px;
    box-shadow: 0rem 0rem 1rem #163FE5;
    flex:1;
}
/*CSS PARA IMAGENS DE JOGOS TOP1*/
.game-image-primeiro{
    border-radius: 16px;
    margin: 35px;
    height: 380px;
    width: 280px;
    box-shadow: 0rem 0rem 1rem #d3c013;
}

/*Realiza a animação de zoom*/
.game-image:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

/*Realiza a animação de tirar zoom*/
.game-image:not(:hover) {
    transition: 0.3s;
}

/*Realiza a animação de zoom*/
.game-image-primeiro:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

/*Realiza a animação de tirar zoom*/
.game-image-primeiro:not(:hover) {
    transition: 0.3s;
}

/*Se refere às divs que contêm as divs de imagens*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container div{
    display:flex;
    justify-content: center;
}

/*TEXTO DE CATEGORIAS*/
h2{
    display: flex;
    justify-content: center;
}

/*texto TOP3*/
h1{
    font-size: 45px;
    font-family: "carter one";
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
