body{
    background-image: url(/src/img/backgroundCinzaEscuroFundo20.png);
}

.h1review{
    background-color: black;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 140px;
    padding-left: 10px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

#disponiveltexto{
    background-color: black;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

#valor{
    background-color: black;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80px;
    padding-left: 10px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

#quais{
    background-color: black;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 170px;
    padding-left: 10px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

#vermais{
    background-color: black;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

#textocomentario1{
    background-color: black;
    margin-left: 30px;
    margin-top: 20px;
    width: 380px;
    padding-top: 30px;
    padding-left: 10px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
    height: 50px;
}

#textocomentario2{
    background-color: black;
    margin-left: 30px;
    margin-top: 20px;
    width: 380px;
    padding-top: 30px;
    padding-left: 10px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
    height: 50px;
}

#nota-do-jogo{
    background-color: black;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 140px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
    padding-left: 10px;
}

#disponiveis{
    background-color: black;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

#trailer{
    background-color: black;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 380px;
    height: 240px;
    padding-left: 10px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

#gameplay{
    background-color: black;
    margin-left: 100px;
    margin-top: 20px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
    width: 380px;
    height: 240px;
    padding-left: 10px;
}

#precos{
    background-color: black;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
    padding-left: 10px;
}

#categorias{
    background-color: black;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 120px;
    padding-left: 20px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

#comentarios{
    background-color: black;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 140px;
    height: 30px;
    padding-left: 20px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

#titulopublicar{
    background-color: black;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 120px;
    height: 50px;
    padding-left: 20px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default; 
}  

#publicar-comentarios{
    background-color: black;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 380px;
    padding-top: 30px;
    padding-left: 10px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
    height: 70px;
}

#estrelas5{
    background-color: black;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 70px;
    background-color: #163FE5;
    padding: 0.5rem;
    text-shadow: 0rem 0rem 0.1rem black;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 3rem 0.1rem black;
    cursor: default;
}

#notadojogoeestrelas{
    display: flex;
}

#disponiveletexto {
    display: flex;
}

#precosevalor{
    display: flex;
}

#categoriasequais{
    display: flex;
}

#comentarioetexto{
    display: flex;
}

#traileregameplay{
    display: flex;
}

#publicar{
    display: flex;
}

footer{
    background-color: black;
    padding-left: 100px;
}   