* {
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h5, span, p {
    font-size: 1.3rem;
}
/*margin das sections a fim de ficar de fácil identificação visual o término e início de outra section*/
section {
    margin: 32px;
}
/*estilização de elementos usado em todos os elementos que contenham texto*/
.textBox{
    color:#ffffff;
    background-color: #a7a7a7;
    padding: 10px 10px;
    margin: 5px;
    height: max-content;
    width: max-content;
    text-shadow: 0px 0px 5px black;
    border-radius: 20px;
    align-self: center;
    box-shadow: inset 0px 0px 10px 5px black;
    cursor: default;
}
/*------------------*/
@media (max-width: 650px) {
    .textBox {
        width:max-content;
    }
}

/*Aplicando display flex para os elementos filhos e um gap de 20px entre elementos*/
.flexAndGap {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
/*Área do trailer e do gameplay*/
.trailerEGameplay {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: min-content;
}

/*estilização do título dos vídeos*/
.tituloTrailerEGameplay {
    margin: 20px auto 20px auto;
    font-size: 1.5rem;
    text-shadow: 0px 0px 5px black;
}
/*Config da imagem do vídeo do google, não usar width nem height visto que desfoca a imagem o melhor é usar essas no html*/
iframe {
    box-shadow: 0px 0px 16px #a7a7a7;
    border-radius: 20px;
    margin: 0px 8px;
}

@media (max-width: 700px) {
    iframe {
        width:500px;
    }
}

@media (max-width: 550px) {
    iframe {
        width:400px;
    }
}

@media (max-width: 450px) {
    iframe {
        width:300px;
    }
}
/*Estilização dos input do campo do valor da nota*/
input {
    background-color: #a7a7a7;
    color: #ffffff;
    box-shadow: inset 0px 0px 10px 5px black;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    width: 150px;
}

input:focus {
    color: white;
    background-color:rgba(100, 230, 100, 0.589);
    transition:0.3s;
}

#avaliacaoGame {
    margin: 0px 20px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #a7a7a7;
    color: #ffffff;
    text-shadow: 0px 0px 5px black;
    box-shadow: inset 0px 0px 10px 5px black;
    resize: none;
}
/*margin entre os elementos da nota*/
#nota {
    margin: 20px 5px;
}
/*config do botão de avaliação da nota*/
button {
    color: #ffffff;
    padding: 5px 10px;
    font-size: 1.5rem;
    text-shadow: 0px 0px 5px black;
    border-radius: 50%;
    margin: 0px 0px;
    background-color: #a7a7a7;
    box-shadow: inset 0px 0px 10px 5px black;
}
/*aparecer as setas do campo number no firefox*/
input[type=number] { 
    appearance: textfield;
}

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*para dar efeito de botão quando clicado*/
button:active {
    scale: 0.95;
    background-color:rgba(100, 230, 100, 0.589);
}

#btnSubtrairNota:active, #btnAdicionarNota:active {
    scale:0.80;
}
/*section de comentários*/
#comentariosAnteriores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
/*parte referente ao bloco de texto dos comentários*/
p {
    width: 500px;
    word-wrap: break-word;
}

@media (max-width: 650px) {
    p {
        width:280px;
    }
}
/*borão de publicar comentário*/
#btnPublicar {
    margin: 20px;
    border-radius: 20px;
    padding: 5px 20px;
}
/*id a fim de centralizar e ganhar um avastamento do elemento de cima*/
#lerMaisButton {
    margin: 5px auto;

}

@media (max-width: 650px) {
    #lerMaisButton {
        margin: 5px 16px;
    }
}


